<!-- HTMl section for main home page -->
<link rel="stylesheet" href="/css/home.css">
<div class="form_class">
    <form action="/create_todo" method="POST">
        <div class="desc_Class">
            <!-- <label>DESCRIPTION</label> -->
            <input type="textarea" required name="desc"
                placeholder="DESCRIPTION:&nbsp;&nbsp;&nbsp;What do you need to do">
        </div>

        <div class="select_and_input">
            <select name="category" required>
                <!-- <div class="drop-down-menu"> -->
                <option value="" disabled selected>Category:&nbsp;&nbsp;Select your option</option>
                <div class="drop-content">
                    <option>Personal</option>
                    <option>Work</option>
                    <option>Cleaning</option>
                    <option>Others</option>
                </div>
        </div>
        </select>



        <input class="datesValues" type="date" name="dateValue" placeholder="DUEDATE:&nbsp;&nbsp; dd/mm/yyyy" required>
</div>

<button class="buttonDesign colorGrey" id="submitButton" type="submit"><i class="fa fa-plus-square"> </i> ADD
    TASK</button>
<button class="buttonDesign colorRed" id="deleteButton" type="submit"><i class="fa fa-trash-o"></i> DELETE
    TASKS</button>

</form>

</div>

<!-- for displaying TODO lists -->
<div>
    <% for(let i of todoList) { let j=0; let newIds='descids' +j; %>
        <div class="singleTask">
            <input type="checkbox" name="delechack" class="delechack" onclick="checkedOrNot()" uid=<%=i._id %> >


            <div class="name_and_dueDate">

                

                <p id=<%=i._id %> uid = <%= i._id %> class="dispdsc"><%= i.desc %>
                </p>
                
                <p id=<%=i._id + i.dueDate %> class="fa fa-calendar"> <%= i.dueDate %>
                </p>
                </p>

            </div>
            <div class="catesec">
                <%= i.category %>
            </div>

            <div class="checkbox">
                <a>Task completed:</a> <input type="checkbox" id="myCheck"></div>
        </div>
        <% j++; } %>

</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/script.js"></script>